.services{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 50px 0;
}
.service{
    background-color: #fff;
    padding: 20px;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.service-icon{
    font-size: 40px;
    color: var(--main-color);
}
.service span{
    font-size: 23px;
}

/* responsive services */

@media screen and (max-width: 800px){
    .services{
        flex-direction: column;
    }
    .service{
        width: 90%;
    }
}